<h1 mat-dialog-title><strong>{{ acronym?.name }}</strong> | {{ acronym?.title }}</h1>
<div mat-dialog-content class="learn-more-dialog__content"><p>{{ acronym?.description }}</p></div>

<div class="learn-more-dialog__row">
  <div mat-dialog-content>
    <a
      href="{{ acronym?.link }}"
      target="_blank"
      rel="noreferrer noopener"
      mat-button
      color="accent"
      >More about {{acronym?.name || 'this'}}</a
    >
  </div>
  <div class="learn-more-dialog__author"><span>Last edit</span> {{ acronym?.author || 'Captain Anonymous'}}</div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close color="primary">Close</button>
</div>
