<mat-spinner
  class="app-loading"
  *ngIf="!showAcronymTable"
  diameter="30"
  color="accent"
></mat-spinner>

<div class="search-form-wrap" *ngIf="showAcronymTable">
  <form class="search-form">
    <mat-icon
      class="search-form__icon"
      color="accent"
      aria-label="Search Acronyms"
      >search</mat-icon
    >
    <input
      class="search-form__input"
      #searchInput
      (keyup)="onSearchInput(searchInput.value)"
      placeholder="Search acronyms"
    />
  </form>
  <app-introduction></app-introduction>
</div>

<table
  *ngIf="showAcronymTable"
  mat-table
  [dataSource]="acronyms$ | async"
  class="mat-elevation-z8"
>
  <ng-container
    [matColumnDef]="column"
    *ngFor="let column of acronymsColHeaders"
  >
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let acronym">
      {{ acronym[column]
      }}<app-learn-more-open-dialog-button
        *ngIf="column === openMoreTitle"
        [acronyms]="acronyms$ | async"
        [acronymID]="acronym._id"
      ></app-learn-more-open-dialog-button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="acronymsColData"></tr>
  <tr mat-row *matRowDef="let row; columns: acronymsColData"></tr>
</table>

<mat-card
  class="no-results-info"
  *ngIf="(!fetching$ | async) && (acronyms$ | async)?.length === 0"
  >Looks like <strong>"{{ searchFilter }}"</strong> doesn't exist yet. Why not
  add it?</mat-card
>

<mat-card *ngIf="hasError$ | async"
  >Sorry, an error has occured and cannot retrieve data. 😢</mat-card
>
