.search-form-wrap {
  display: flex;
  align-items: center;
}

.mat-table {
  width: 100%;
}

.app-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-header-cell {
  color: #fff;
  text-transform: uppercase;
}

.mat-cell {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.mat-cell:first-of-type {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.search-form {
  align-self: stretch;
  display: flex;
  flex: 0 0 50%;
  text-align: center;
  position: relative;
}

.search-form__icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.search-form__input {
  background: transparent;
  border: 0;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  box-sizing: border-box;
  color: #fff;
  font: 600 16px/22px Roboto, "Helvetica Neue", sans-serif;
  padding: 12px 20px 12px 60px;
  width: 100%;

  &:focus {
    background: rgba(255,255,255,0.1);
    outline: 2px solid rgba(255,255,255,0.5);
    outline-offset: -2px;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0;
}

.no-results-info {
  font: 400 16px/22px Roboto, "Helvetica Neue", sans-serif;
  padding: 30px;
  text-align: center;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  text-align: center;
}
