.delete-acronym-prompt__title {
  display: flex;
  align-items: center;

  &-icon {
    margin-right: 10px;
  }
}

.delete-acronym-prompt {
  display: flex;
  flex-direction: column;
}

.delete-acronym-prompt__field {
  width: 100%;
  margin: 0 0 13px;
}

.delete-acronym-prompt__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-acronym-prompt__result-msg {
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 17px;
    line-height: 1.5;
  }
}
