<div class="add-acronym-form__result-msg" *ngIf="showErrorMessage">
  <h2 class="add-acronym-form__title">
    <mat-icon color="primary" class="add-acronym-form__title-icon"
      >add_circle</mat-icon
    >
    Oh no! 😢
  </h2>
  <p>There has been an error when talking to the server.</p>
  <p>Please try again later.</p>
  <div class="add-acronym-form__actions" mat-dialog-actions>
    <div class="add-acronym-form__actions-left">
      <button mat-button mat-dialog-close color="primary">Close</button>
    </div>
  </div>
</div>
<div class="add-acronym-form__result-msg" *ngIf="showSuccessMessage">
  <h2 class="add-acronym-form__title">
    <mat-icon color="primary" class="add-acronym-form__title-icon"
      >check_circle</mat-icon
    >
    Thank you 😇
  </h2>
  <p>
    You added information for
    <strong
      >{{ (acronym$ | async)?.name }} | {{ (acronym$ | async)?.title }}</strong
    >
  </p>
  <p>You jargon buster, you.</p>
  <mat-divider></mat-divider>
  <div class="add-acronym-form__actions" mat-dialog-actions>
    <div class="add-acronym-form__actions-left">
      <button mat-button mat-dialog-close color="primary">Close</button>
    </div>
  </div>
</div>

<h2 class="add-acronym-form__title" *ngIf="showCreateAcronymForm">
  <mat-icon color="primary" class="add-acronym-form__title-icon"
    >add_circle</mat-icon
  >
  Add Acronym
</h2>

<form
  *ngIf="showCreateAcronymForm"
  class="add-acronym-form"
  [formGroup]="addAcronymForm"
  (ngSubmit)="onSubmit(addAcronymForm.value)"
>
  <div class="add-acronym-form__row">
    <mat-form-field
      color="accent"
      appearance="fill"
      class="add-acronym-form__field"
    >
      <mat-label>Acronym Name</mat-label>
      <input matInput required formControlName="name" />
      <mat-hint>i.e. 'CSS'</mat-hint>
    </mat-form-field>
  </div>
  <div class="add-acronym-form__row">
    <mat-form-field
      color="accent"
      appearance="fill"
      class="add-acronym-form__field"
    >
      <mat-label>Acronym Full Name</mat-label>
      <input matInput required formControlName="title" />
      <mat-hint>i.e. 'Cascading Style Sheets'</mat-hint>
    </mat-form-field>
  </div>
  <div class="add-acronym-form__row">
    <mat-form-field
      color="accent"
      appearance="fill"
      class="add-acronym-form__field"
    >
      <mat-label>Description</mat-label>
      <textarea
        matInput
        required
        rows="4"
        formControlName="description"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="add-acronym-form__row">
    <mat-form-field
      color="accent"
      appearance="fill"
      class="add-acronym-form__field"
    >
      <mat-label>Link</mat-label>
      <mat-hint>A URL to more information on this topic</mat-hint>
      <input matInput formControlName="link" />
    </mat-form-field>
  </div>
  <div class="add-acronym-form__row">
    <mat-form-field
      color="accent"
      appearance="fill"
      class="add-acronym-form__field"
    >
      <mat-label>Your name</mat-label>
      <input matInput required formControlName="author" />
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <div class="add-acronym-form__actions" mat-dialog-actions>
    <div class="add-acronym-form__actions-left">
      <button mat-button mat-dialog-close color="primary">Close</button>
    </div>
    <div class="add-acronym-form__actions-right">
      <mat-spinner
        *ngIf="working$ | async as working; else submit"
        diameter="20"
        color="accent"
      ></mat-spinner>
      <ng-template #submit>
        <button
          [disabled]="!addAcronymForm.valid"
          mat-flat-button
          type="submit"
          color="accent"
        >
          Submit
        </button>
      </ng-template>
    </div>
  </div>
</form>
